$border:1px solid green;
$primColor:#ef5b4c;
$secondColor:#1b4a8a;
$secondBackColor: #f9f9f3;
$btnColorHover:#d24335;
@import "Open-sans.css";

body {
    font-family: 'Open-sans', sans-serif;
    margin: 0;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 20;
}

.header:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    z-index: 2;
}

.container {
    max-width: 1170px;
    min-width: 360px;
    padding: 0;
    margin: 0 auto;
    border: 1px solid transparent;
}

.headerBody {
    position: relative;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    padding: 0 15px;

    .logoHeader {
        text-decoration: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        z-index: 4;

        img {
            max-width: 100%;
        }

        span {
            letter-spacing: 3px;
        }
        color: black;
    }
}

.headerMenu {
    .headerList {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        position: relative;
        z-index: 2;

        li {
            margin: 0px 0px 0px 20px;

            a {
                text-decoration: none;

                font-size: 14px;
                color: black;
                font-weight: 600;
            }

            a:hover {
                cursor: pointer;
                color: $primColor
            }

            a:active {
                color: $secondColor;
            }
        }
    }
}

.headerBurger {
    display: none;
}

.content {
    padding-top: 60px;
    position: relative;
}

@media(max-width:769px) {
    .header:before {
        z-index: 4;
    }

    .headerBody {
        height: 40px;

        .headerBurger {
            display: block;
            width: 20px;
            height: 15px;
            position: relative;
            z-index: 4;

        }

        .headerBurger.true:before {
            transform: rotate(45deg);
            top: 6px;
        }

        .headerBurger.true:after {
            transform: rotate(-45deg);
            bottom: 6px;
        }

        .headerBurger.true span {
            transform: scale(0);
        }

        .headerBurger:before,
        .headerBurger:after {
            padding: 0;
            margin: 0;
            content: "";
            position: absolute;
            left: 0;
            width: 100%;
            height: 3px;
            background-color: rgb(45, 60, 194);
            transition: all 0.3s ease 0s;
        }

        .headerBurger:before {
            top: 0;
        }

        .headerBurger:after {
            bottom: 0;
        }

        .headerBurger span {
            position: absolute;
            width: 100%;
            height: 3px;
            background-color: rgb(45, 60, 194);
            top: 6px;
            left: 0;
            transition: all 0.3s ease 0s;
        }

        .headerList {
            display: block;

            li {
                margin: 0px 0px 20px 10px;
            }
        }

        a:hover {
            cursor: pointer;
            color: $primColor
        }

        a:active {
            color: $secondColor;
        }
    }


    .headerMenu {
        position: fixed;
        top: 0;
        transform: translateX(-110%);
        width: 80%;
        height: 100%;
        background-color: white;
        padding: 60px 0 0 0;
        transition: all 0.3s ease 0s;
        overflow: auto;
    }

    .headerMenu.true {
        transform: translateX(-3%);
    }

    .content {
        padding-top: 40px;
    }
}

.newContainer {
    padding-top: 60px;
}

@media(max-width:426px) {

    .newContainer {
        padding-top: 40px;
    }

}

.mainImgContainer {
    background-image: url("../../DATA/img/banner-photo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    .headerContent {
        margin-left: 28px;
        width: 530px;
        padding-top: 100px;

        @media(max-width:426px) {
            width: 90%;
        }

        .mainTitle {
            margin: 0;
            // padding-top: 110px;
            font-size: 50px;
            line-height: 54px;
            color: white;
            text-transform: uppercase;
        }

        @media(max-width:426px) {
            .mainTitle {
                font-size: 30px;
                line-height: 34px;
                text-align: center;
                margin: 0 auto;
            }
        }

        p {
            margin: 0;
            color: white;
            font-size: 16px;
            line-height: 24px;
            padding: 35px 0;
        }

        a {
            margin-bottom: 115px;
            color: white;
            width: 210px;
            height: 38px;
            background-color: $primColor;
        }

        a:hover {
            background-color: $btnColorHover;
            ;
        }
    }
}

@media(max-width:426px) {
    .mainImgContainer {
        .headerContent {
            text-align: center;

            .headerParagraph {
                height: 110px;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                /* number of lines to show */
                -webkit-box-orient: vertical;
                margin-bottom: 30px;

            }
        }
    }
    .headerMenu.true {
        transform: translateX(-6%);
    }
}


// manLaptop______________________________________________________
.titleLaptop {
    font-size: 50px;
    line-height: 54px;
    text-align: center;
    padding-top: 70px;
    padding-left: 10px;

    @media (max-width:426px) {
        font-size: 30px;
        line-height: 34px;
        text-align: center;
        margin: 0 auto;
        padding-top: 70px;
    }

}

.contentContainer {

    padding: 58px 0px 120px 50px;
    display: flex;
    flex-wrap: nowrap;

    .svgLaptop {
        width: 27%;
    }


}
@media (max-width:769px) {
    .contentContainer {
        
        padding: 20px 0px 60px 25px;
        margin: 0 auto;

        .svgLaptop {
            width: 42%;
            padding-bottom: 100px;
        }
    }
}

@media (max-width:426px) {

    .contentContainer {
        text-align: center;
        padding: 0;
        margin: 0 auto;
        flex-wrap: wrap;

        .svgLaptop {
            width: 90%;
            text-align: center;
            margin: 30px auto;
            padding:0;
        }
    }

}

.textContainer {
    padding: 0px 90px 10px 50px;

    p {
        font-size: 16px;
        line-height: 24px;
        padding-top: 10px;
    }

    a {
        text-decoration: none;
        color: $primColor;

    }

    a:hover {
        color: $btnColorHover
    }

    @media (max-width:769px) {
        padding: 0 30px;
        .secondTitle {
            font-size: 24px;
            line-height: 29px;
        }
        p {
            text-align: left;
            padding: 0 10px;
            margin-bottom: 35px;
        }

    }
}



// Users______________________________________________________

.usersContainer {
    background-color: $secondBackColor;
    text-align: center;

    .headOfUsers {
        text-align: center;

        .usersTitle {
            padding: 155px 0 30px 0;
            margin: 0;
        }

        .usersAtention {
            margin: 0;
            padding-bottom: 40px;
        }

        @media (max-width:426px) {
            .usersTitle {
                padding: 80px 0 15px 0;
                margin: 0;
            }

            .usersAtention {
                padding-bottom: 30px;
            }
        }
    }

    #users {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0 80px;

        @media (max-width:769px) {
            margin: 0;
        }

        .card {
            border: none;
            width: 200px;
            text-align: center;
            margin: 20px 65px;
            background-color: $secondBackColor;

            @media (max-width:1025px) {
                margin: 20px 10px;
            }

            @media (max-width:426px) {
                margin: 0 auto;
            }

            img {
                width: 70px;
                height: 70px;
                border-radius: 50%;
                margin: 0 auto;
            }

            p {
                font-size: 16px;
                line-height: 24px;
                margin: 0;
                padding: 6px 0;
            }

            .userName {
                padding-bottom: 17px;
                padding-top: 20px;
                margin: 0;
            }

            .smallName {
                padding-bottom: 21px;
                word-wrap: none;
            }
        }
    }

    button {
        margin: 20px auto;
        color: white;
        width: 210px;
        height: 38px;
        background-color: $primColor;
        border: none;
    }

    button:active {
        background-color: $secondColor;
    }
}

// Register ___________________________________________________________
.registerContainer {
    padding-top: 60px;
    text-align: center;
    margin: 0 auto;

    .formContainer {
        margin: 0 auto;
        text-align: left;

        #notice {
            font-size: 12px;
            line-height: 14px;
        }

        fieldset {
            margin-bottom: 40px;

            p {
                margin: 0;
                padding-bottom: 10px;

            }

            .col-sm-10 {
                padding-left: 15px;
                padding-bottom: 40px;
            }

            .custom-file {
                position: relative;
                margin-left: 15px;

                p {
                    position: absolute;
                    z-index: 3;
                    top: -30px;
                    left: 0;
                }
            }
        }

        .col-sm-10 {
            padding-left: 0;
        }

        .btnContainer {
            text-align: center;
            margin-bottom: 20px;

            .btn {
                background-color: $primColor;
                border-color: $btnColorHover;
            }

            .btn:hover {
                background-color: $btnColorHover;
                border-color: $primColor;
            }
        }

        @media (max-width:426px) {
            padding: 0 10px;
        }

        @media (max-width:1025px) {
            padding: 0 10px;
        }
    }
    .row {
        margin: 0;
    }
}